* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
   --mainBlack: #222;
   --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

  --dark-color-a: #667aff;
  --dark-color-b: #7386ff;
  --light-color: #e6e9ff;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}
/* globals */
body {
  padding-top: 66px;
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
 

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--primaryColor);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: var(--primaryColor);
}
.btn-send {
  display: inline-block;
  text-decoration: none;
  letter-spacing: var(--mainSpacing);
  color: var(--mainBlack);
  background: var(--dark-color-a);
  padding: 0.4rem 0.9rem;
  border: 3px solid var(--dark-color-b);
  border-radius: 3px;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.btn-send:hover {
  background: transparent;
  color: var(--dark-color-b);
}
.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}
.error {
  text-align: center;
  text-transform: uppercase;
  margin: 2rem 0;
}
.empty-search {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  padding: 1rem;
  letter-spacing: var(--mainSpacing);
}
/* end of globals */
 
/* houselist */
.houseslist {
  padding: 2rem 0;
}
.houseslist-center {
  width: 80vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}

@media screen and (min-width: 776px) {
  .houseslist-center {
    width: 90vw;
  }
}
@media screen and (min-width: 992px) {
  .houseslist-center {
    width: 95vw;
    max-width: 1170px;
  }
}
/* end of houselist */

/* house */
.house {
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
}
.house:hover {
  box-shadow: var(--darkShadow);
}

.img-container {
  position: relative;
}
.img-container img {
  width: 100%;
  display: block;
  transition: var(--mainTransition);
}
.img-container2 {
  position: relative;
}
.img-container2 img {
  width: 100%;
  display: block;
}

.house-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0);
  transition: all 0.3s linear;
}
.img-container:hover {
  background: rgba(0, 0, 0, 0.8);
}
.img-container:hover img {
  opacity: 0.3;
}

.img-container:hover .house-link {
  transform: translate(-50%, -50%) scale(1);
}
.house-title {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0.5rem;
  text-align: left;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}
.house-artist {
  background: var(--darkGrey);
  color: grey;
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  text-align: left;
}
.house-description {
  background: var(--darkGrey);
  padding: 0.2rem 0.5rem;
  text-align: left;
  font-size: 0.9rem;
}

/* end of house  */

/* start of join-main  */
.join-main {
  padding: 30px 40px;
  background: var(--dark-color-b);
}

.join-main .form-control {
  margin-bottom: 20px;
}

.join-main label {
  display: block;
  margin-bottom: 5px;
}

.join-main input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  width: 100%;
}

/* end of join-main  */

.wrapper {
  display: grid;
  grid-template-columns: 50% 30%;
}
.column-1 {
  margin-right: 2rem;
}

.inputInner {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputInner:focus {
  background-color: lightblue;
}
